.calendar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .month-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 20px;
  }
  
  .days-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 40px);
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .mini-calendars {
    display: flex;
    justify-content: center; 
    gap: 200px; 
    width: 100%;
  }
  
  .mini-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
  }
  
  .mini-calendar h3 {
    margin-bottom: 10px;
  }
  
  .mini-calendar .days-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 30px);
    gap: 20px;
  }
  